<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
   <% if logged_in? %>
  <div class="row" align="left">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="servizi_form">
        <%= render 'shared/servizi_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Servizi erogati:</h3>
      <%= render 'shared/feed' %>
    </div>
    <div class="col-md-8">
      <%= link_to "Mostra preferiti", preferiti_path %>
    </div>
    <section class="ricerca">
       <%= form_for (@ricerche) do |f| %>
    <%= f.label :tipo %>
    <%= f.text_field :testotipo, class: 'form-control' %>
    <br>
    <br>
    <%= f.label :nome %>
    <%= f.text_field :testonome, class: 'form-control' %>
    <br>
    <br>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
   </section>
  <% else %>



    <head>
        <title><%= yield(:title) %> | All Around You App</title>



        <style>
          @import url('https://fonts.googleapis.com/css?family=Merriweather');

          #par1{
            font-family: 'Merriweather', serif;
            font-size: 25px;
            color: white;

          }

          h2{
            font-family: 'Merriweather', serif;
            color: white;
          }

          #par2{
            font-family: 'Merriweather', serif;
            font-size: 20px;
            color: grey;
          }

          #par3{

            background-color:white;
            width:360px;
            height:80px;
            margin:0 auto;
            margin-top:50px;
            font-family:arial;color:white;
            text-align:center;
            border: white 1px solid;

          }

        </style>


    </head>
    <body bgcolor="black">
        <center>

          <div id="par1">
            <h1>All Around You</h1>
          </div>

        </center>
        <p>

    <div id="par2">
      <center>
        Con All Around You puoi trovare facilmente i servizi più vicini a te!
      </center>
    </div>

    <div id = "par3">
      <p> <h2><%= link_to "Registrati!", signup_path %></p></h2>
    </div>

    <div id = "par3">
    <p><h2><%= link_to "Loggati!", login_path %></h2></p>
    </div>
    <div id ="par3">
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
    </div>
    </p>
    </body>
   <% end %>
</html>
