<%= form_for(@servizi, html: { multipart: true }) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :nome, class: 'form-control' %>
  <br>
  <br>
  <%= f.label :indirizzo %>
  <%= f.text_field :indirizzo, id: :address_indirizzo, class: 'form-control',:size=> 30, :placeholder=> "Inserisci la città" %>
  <br>
  <br>
  <%= f.label :tipo %>
  <%= f.text_field :tipo, class: 'form-control' %>
  <br>
  <br>
  <div class="field">
    <%= f.text_area :descrizione, placeholder: "Inserisci una descrizione" %>
  </div>
  <%= f.submit "Crea", class: "btn btn-primary" %>
   <span class="picture">
    <%= f.file_field :immagini, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>
<script>


  function initAutocomplete() {


    // Create the search box and link it to the UI element.
    var input = document.getElementById('address_indirizzo');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }


    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQIh8MGEehUptz2u7vr8JbRvyvB6mA4M8&libraries=places&callback=initAutocomplete"
     async defer></script>
