<%= form_for(@servizi, html: { multipart: true }) do |f| %>
  <%= f.label :nome %>
  <%= f.text_field :nome, id:'nome', class: 'form-control' %>
  <br>
  <br>
  <%= f.label :indirizzo %>
  <%= f.text_field :indirizzo, id: 'indirizzi1', class: 'indirizzi',:size=> 30, :placeholder=> "Inserisci la città" %>
  <br>
  <br>
  <%= f.label :tipo %>
  <%= f.text_field :tipo, id: 'tipo', class: 'form-control' %>
  <br>
  <br>
  <div class="field">
    <%= f.text_area :descrizione, id: 'descrizione', placeholder: "Inserisci una descrizione" %>
  </div>
  <%= f.submit "Crea", class: "btn btn-primary" %>
   <span class="picture">
    <%= f.file_field :immagini, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>
