<li id="Servizi-<%= servizi.id %>">
  <span class="nome"><%= link_to servizi.nome, servizi_path(servizi.id)%></span>
  <span class="indirizzo"><%= servizi.indirizzo %>
  <span class="tipo"><%= servizi.tipo %></span>
  <span class="content"><%= servizi.descrizione %>

  </span>
  <span class="timestamp">
    Creato: <%= time_ago_in_words(servizi.created_at) %> ago.
    <% if currentuser==servizi.user %>
      <%= link_to "Cancella", servizi, :method => :delete,
                                       data: { confirm: "Sicuro?" } %>
    <% end %>
  </span>
</li>
