<li id="Servizi-<%= @servizi.id %>">
  <span class="nome"><%= @servizi.nome %></span>
  <span class="tipo"><%= @servizi.tipo %></span>
  <span class="content"><%= @servizi.descrizione %>
   <span class="image"> <%= image_tag @servizi.immagini.url if @servizi.immagini? %> </span>
  </span>
  <span class="timestamp">
    Creato: <%= time_ago_in_words(@servizi.created_at) %> ago.
    <% if currentuser==@servizi.user %>
      <%= link_to "Cancella", @servizi, :method => :delete,
                                       data: { confirm: "Sicuro?" } %>
    <% end %>
  </span>
</li>
